window-rule {
    opacity 0.9
    background-effect {
        blur true
        xray true
        liquid-glass {
            refraction-strength 3.0
            power-factor 10
            refraction-power 1.0
            glow-weight 0.0001
            edge-lighting 0.2
            saturation 0.9
            vibrancy 0.2
            adaptive-dim 0.25
            adaptive-boost 0.25
            physical-refraction 0
            lens-distortion 0
            fringing 0
        }
    }
}

window-rule {
    match is-focused=false
    opacity 0.85
}

window-rule {
    match app-id="org.pwmt.zathura"
    opacity 0.8
    background-effect { blur true; }
}

window-rule {
    match app-id="codium"
    opacity 0.85
    background-effect { blur true; }
}

window-rule {
    match app-id="steam"
    opacity 0.9
    background-effect { blur true; }
}

window-rule {
    match app-id="obsidian"
    opacity 0.9
    background-effect { blur true; }
}

window-rule {
    match app-id="app.zen_browser.zen"
    background-effect { blur true; }
}

window-rule {
    match app-id=r"^org\.gnome\.Nautilus$"
    background-effect { blur true; }
}

window-rule {
    match app-id=r"^org\.gnome\.Calculator$"
    match app-id=r"^gnome-calculator$"
    match app-id=r"^galculator$"
    match app-id=r"^blueman-manager$"
    match app-id=r"^org\.gnome\.Nautilus$"
    match app-id=r"^xdg-desktop-portal$"
    background-effect { blur true; }
}
