[Desktop Entry]
Version=1.0
Name=Ghostty
Type=Application
Comment=A terminal emulator
TryExec=/home/lynimbus/.local/bin/ghostty
Exec=/home/lynimbus/.local/bin/ghostty --gtk-single-instance=true
Icon=com.mitchellh.ghostty
Categories=System;TerminalEmulator;
Keywords=terminal;tty;pty;
StartupNotify=true
StartupWMClass=com.mitchellh.ghostty
Terminal=false
Actions=new-window;
X-GNOME-UsesNotifications=true
X-TerminalArgExec=-e
X-TerminalArgTitle=--title=
X-TerminalArgAppId=--class=
X-TerminalArgDir=--working-directory=
X-TerminalArgHold=--wait-after-command
X-KDE-Shortcuts=Ctrl+Alt+T

# 注意：故意不加 DBusActivatable（nix 包的 D-Bus service 会绕过本 Exec 启动，
# 无法注入 EGL 环境变量修复）

[Desktop Action new-window]
Name=New Window
Exec=/home/lynimbus/.local/bin/ghostty --gtk-single-instance=true
